<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config> </context:annotation-config>

<bean id="E1" class="com.zensar.practice.beans.Employee" autowire="byName">
<property name="employeeId" value="1"></property>
<property name="employeeName" value="Anil"></property>
<property name="employeeAge" value="22"></property>

</bean>



<bean id="department" class="com.zensar.practice.beans.Department">
<property name="departmentName" value="HR"></property>
<property name="departmentNo" value="110"></property>


</bean>

<bean id="depart" class="com.zensar.practice.beans.Department">
<property name="departmentName" value="Payroll"></property>
<property name="departmentNo" value="114"></property>


</bean>


</beans>
